<!DOCTYPE html>
<meta http-equiv="content-type" charset="utf-8">
<html>
<head>
<title>TOEIC単語練習用クイズ</title>
</head>
<body>
<!--タイトル-->
<h1>次の英単語の意味を答えなさい</h1>

<!-- 変数定義 -->
<% var q_list=[]; %>
<% var a_list=[]; %>
<% var i = 0; %>
<% var k = 0; %>
<% var count = 0; %>
<% var three_list=[0,1,2]; %>
<% var answer_number; %>
<!--データのlist化 -->
<%  ITEMS.forEach(function (row) { %>
    <% q_list[i] = row.question %>
    <% a_list[i] = row.ans %>
    <% i++; %>
<%  }); %>

<!--クイズのの表示-->

<h2 id="_question"><%= q_list[0] %></h2>

<!--回答選択肢表示-->
<%  ITEMS.forEach(function (row) { %>
  <% k = Math.floor(Math.random()*three_list.length); %>
    <ul>
      <li id="_ans1" name="itemName" value="test"><%= a_list[three_list[k]]; %></li>
    </ul>
    <% if(three_list[k]==0){ %>
      <% answer_number = count %>
    <% }; %>
    <% three_list.splice(k, 1); %>
    <% count++; %>
<%  }); %>


<!-- 回答用ボタン -->
<form action="/" method="post">
<input type="submit" id="_answer_1" onclick='answer_check(<%= answer_number %>,0);' value="回答1"></button>
<input type="submit" id="_answer_2" onclick='answer_check(<%= answer_number %>,1);' value="回答2"></button>
<input type="submit" id="_answer_3" onclick='answer_check(<%= answer_number %>,2);' value="回答3"></button>
</form>
<% var test = q_list %>
<script type="text/javascript">

//onload = test();
function test(){
  alert("test");
}
function answer_check(x,y){
  if(x==y){
    alert("正解!");
  }
  else{
    alert("違います... 正解は「 <%= a_list[0] %> 」");
  }
}



</script>
</body>
</html>
